<div>
    <h1 class="˜w-100 text-center">Contatos</h1><br>
    <div class="mx-auto my-4 col-6 ">
        <label class="form-label">Nome</label>
        <input class="form-control" [(ngModel)]="name" >
        <label class="form-label">Telefone</label>
        <input class="form-control" [(ngModel)]="phone" mask="(00) 0000-0000||(00) 0 0000-0000">
        <label class="form-label">Grupo</label>
        <div class="input-group mb-3">
            <select class="form-control" [(ngModel)]="group">
                <option *ngFor="let item of groups" [ngValue]="item">{{item.name}}</option>
            </select>
            <button type="button" class="btn btn-primary" (click)="onShowGroups()">+</button>
        </div>
        <br>
        <button type="button" class="btn btn-success mr-2" (click)="save()"><i class="fas fa-cloud-upload-alt"></i> Salvar</button>
        <button type="button" class="btn btn-danger" (click)="clean()"><i class="fas fa-eraser"></i> Limpar</button>
    </div>
    <table class="table table-striped my-4  ">
        <thead>
            <tr>
                <th scope="col">Codigo</th>
                <th scope="col">Nome</th>
                <th scope="col">Telefone</th>
                <th scope="col">Grupo</th>
                <th scope="col">Acao</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let contact of contacts">
              <td>{{ contact.id }}</td>
              <td>{{ contact.name }}</td>
              <td>{{ contact.phone}}</td>
              <td>{{ contact.group?.name}}</td>
              <td>
                <button type='button' class=" btn btn-primary ms-2" (click)="editItem(contact.id )"><i class="fas fa-pen"></i></button>
                <button type='button' class=" btn btn-dark ms-2" (click)="deleteItem(contact.id )"><i class="fas fa-trash"></i></button>
              </td>
            </tr>
          </tbody>
    </table>
    <app-grupos *ngIf="showGroups" title="Grupos" [groups]="groups"  (close)="refreshGroups($event)"></app-grupos>
    <br>
    <br>
</div>